<div id="settings-user-management-container" class="page">
    <ng-template #loading>Loading User Data...</ng-template>
    <div class="p-3" *ngIf="state$ | async as quote; else loading">
        <div class="text-left pb-1">
            <h4>Quote Edit</h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Content..." [(ngModel)]="quote.content">
        </div>
        <div>
            <ng-select [items]="authors$ | async" bindLabel="author" autofocus bindValue="id"
                [(ngModel)]="quote.authorId">
            </ng-select>
        </div>
    </div>
</div>