<div class="text-center">
    <div class="btn-group special">
        <button id="back-btn" type="button" (click)="goBack()" *ngIf="showBack"
            [ngClass]='{"d-none": isExpanded, "btn btn-secondary btn-lg btn-block rounded-0" : true}' title="Back">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
        <button id="settings-btn" type="button" (click)="goTo('settings')" *ngIf="!showBack"
            [ngClass]='{"d-none": isExpanded, "btn btn-secondary btn-lg btn-block rounded-0" : true}' title="Settings">
            <fa-icon icon="list"></fa-icon>
        </button>
        <button id="new-game-btn" type="button" (click)="goTo('play')"
            [ngClass]='{"d-none": isExpanded, "btn btn-secondary btn-lg btn-block rounded-0" : true}' title="New Game">
            <fa-icon icon="gamepad"></fa-icon>
        </button>
    </div>
</div>