<div id="content-container" class="page">
    <div class="p-3">
        <div class="text-left">
            <h4>Who Said It?</h4>
        </div>
        <div id="question-text" class="alert alert-danger">
            Translation is the paradigm, the exemplar of all writing. It is translation that demonstrates most vividly
            the yearning for transformation that underlies every act involving speech, that supremely human gift.
        </div>
        <div class="text-center binary-choice-element">
            <p id="binary-choice-author">Harry Burchell Mathews?</p>
        </div>
    </div>
    <div id="binary-choice-container" class="binary-choice-element btn-toolbar justify-content-between mx-5 pb-3 pt-5">
        <div class="btn-group">
            <button type="button" class="btn btn-success">Yes</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger">No</button>
        </div>
    </div>
</div>