<div class="card page">
    <h4 class="card-header">Authenticate:</h4>
    <div class="card-body">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group" *ngIf="isNewUser">
                    <label for="username">Firstname</label>
                    <input type="text" formControlName="firstname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">Firstname is required</div>
                    </div>
                </div>
                <div class="form-group" *ngIf="isNewUser">
                        <label for="username">Lastname</label>
                        <input type="text" formControlName="lastname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                            <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                        </div>
                    </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <button [disabled]="loading" class="btn btn-outline-secondary btn-block border-radius rounded-0" type="button" (click)="submit()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{buttonText}}
            </button>
            <div class="form-group pt-2 cursor-link" *ngIf="!isNewUser">
                <a (click)="buildRegisterForm()">Create account</a>
            </div>
            <div class="form-group pt-2 cursor-link" *ngIf="isNewUser">
                    <a (click)="buildSignInForm()">Already have an account?</a>
                </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
    </div>
</div>